extends layout

block content
  h1 Reddit Sort Save
  p Sort out your rediculously long reddit save list in a sane manner.
  
  form(action="auth", method="get")
    button(title="redir") Let's get started
